.header {
    background: #ffffff;
    height: 180px;
    box-shadow: 0 3px 10px rgba(0 ,0, 0, 0.08);
}
.header__container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 41px 0 23px;
}
.header__logo {

    color: #4d4d4d;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.76px;
    line-height: 1;
}
.header__search {

}
.header__buttons {

}