.promo-section-item-link-wrapper {
    display: block;
}

.promo-section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    height: 330px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
    background: #ffffff;
    border-radius: 6px;
    transition: box-shadow .2s linear;
    text-align: center;

    &:hover {
        box-shadow: 0 3px 25px rgba(0, 0, 0, 0.230);

    }
}


.promo-section-item__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #666666;
    line-height: 1.5;



}

.promo-section-item__subtitle {
    margin-bottom: 40px;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
}

.promo-section-item--background-img {
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 45px;
    .promo-section-item__title {
        color: #ffffff;
    }
    .promo-section-item__subtitle {
        color: rgba(255,255,255, 0.3);
        margin-bottom: 0;
    }
}

.promo-section-item--background-img-watch {
    background-color: #3b4b48;
    background: url('./../img/promo/2.jpg');
}